<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngIf="!previewMode">
        <label>
            From account
            <input type="text" formControlName="fromAccount"/>
        </label>
        <label>
            To account
            <input type="text" formControlName="toAccount" placeholder="Georgia Power Electric Company"/>
        </label>
        <label>
            Amount
            <span class="input-with-addon">
                <span class="addon-prefix">$</span>
                <input type="text" formControlName="amount" placeholder="0.00"/>
            </span>
        </label>
    </div>
    <div *ngIf="previewMode">
        <label>
            From account
            <span class="preview-value">{{ fromAccount }}</span>
        </label>
        <label>
            To account
            <span class="preview-value">{{ form.value.toAccount }}</span>
        </label>
        <label>
            Amount
            <span class="preview-value">${{ form.value.amount }}</span>
        </label>
    </div>
    <div class="btn-group pull-right">
        <button type="submit" class="primary" [disabled]="!form.valid">
            <span *ngIf="!previewMode">Submit</span><span *ngIf="previewMode">Transfer</span>
        </button>
        <button type="button" (click)="reset()">Reset</button>
    </div>
    <div class="clearfix"></div>
</form>
