.card {
    margin: 0 10px;
    width: calc(100% - 20px);
    -webkit-box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.7);
    -moz-box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.7);
    box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.7);

    .card-header {
        padding: 10px 20px;
        background-color: #0c8397;
        color: white;

        &.big {
            padding: 15px 20px;
        }

        .card-header-icon {
            width: 28px;
            height: 24px;
            display: inline-block;
        }

        .card-header-content {
            display: inline-block;
            width: calc(100% - 28px);
            text-align: center;
            vertical-align: super;
        }
    }
    .card-content {
        padding: 30px 20px;
        background-color: white;
    }
}
