<div class="filter">
    <input type="text" [(ngModel)]="filter" placeholder="Search by typing..." (keyup)="filterAll()"/>
    <span *ngIf="!!filter" class="btn-reset" (click)="resetFilter()">❌</span>
</div>
<div class="sort-by">
    <label>Sort by</label>
    <div class="btn-group square-version">
        <button type="button" *ngFor="let sortType of sortTypes" (click)="sortBy(sortType)">
            {{ sortType.buttonText }}
            <ng-container *ngIf="sortType.sortBy === activeSortType.sortBy">
                <span *ngIf="isReverseSort">▼</span>
                <span *ngIf="!isReverseSort">▲</span>
            </ng-container>
        </button>
    </div>
</div>
<div class="list">
    <div class="list-item" *ngFor="let item of filteredAll">
        <div class="col-category" [style.background-color]="item.categoryCode"></div>
        <div class="col-date">
            {{ item.transactionDateString }}
        </div>
        <div class="col-image">
            <img [attr.src]="item.merchantLogo" alt="">
        </div>
        <div class="col-content">
            {{ item.merchant }}
        </div>
        <div class="col-amount t-right">
            {{ item.amount < 0 ? '-' : '' }}${{ item.amount | math:'abs' }}
        </div>
    </div>
</div>
