@mixin clearfix() {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

html, body {
    font-family: 'Kanit', sans-serif;
    min-height: 100%;
    width: 100%;
}

body {
    background: url("/assets/background.jpg") no-repeat scroll 50% 50%;
    background-size: cover;
}

label {
    font-weight: bold;
    text-transform: uppercase;
    display: block;

    & > * {
        font-weight: normal;
        text-transform: none;
    }

    .preview-value {
        display: block;
        margin-top: 10px;
        margin-bottom: 30px;
    }
}

input, input:focus {
    border: none;
    border-bottom: 1px #D4D1CD solid;
    width: calc(100% - 16px);
    padding: 5px 8px;
    display: block;
    outline: none;
    margin-top: 10px;
    margin-bottom: 30px;
}

input:disabled {
    cursor: not-allowed;
}

.input-with-addon {
    position: relative;
    display: block;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 30px;

    input {
        margin-top: 0;
        margin-bottom: 0;
        position: relative;
    }

    .addon-prefix {
        position: absolute;
        left: 5px;
        top: 6px;
        display: block;
        z-index: 10;

        & + input {
            padding-left: 20px;
            width: calc(100% - 28px);
        }
    }

    .addon-postfix {
        position: absolute;
        right: 5px;
        top: 6px;
        display: block;

        & + input {
            padding-right: 20px;
            width: calc(100% - 28px);
        }
    }
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.clearfix {
    @include clearfix;
}

button {
    outline: none;
    border-radius: 6px;
    padding: 10px 20px;
    background-color: white;
    border-width: 1px;
    text-transform: uppercase;
}
button.primary {
    background-color: #EE7033;
    color: white;
}

button:disabled {
    opacity: 0.8;
}

.btn-group {
    display: inline-block;

    button:not(:first-child) {
        border-radius: 0 6px 6px 0;
        margin-left: -1px;
    }

    button:not(:last-child) {
        border-radius: 6px 0 0 6px;
    }

    &.square-version button {
        border-radius: 0 !important;
    }
}

.t-right {
    text-align: right;
}

.t-center {
    text-align: center;
}

.t-left {
    text-align: left;
}
